.root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.item {
  text-align: center;
  color: #fff;
}

.link {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 24px;
  padding-top: 70px;
}

.social {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 80px;
}

.social h2 {
  margin: 0;
}

.social-facebook {
  background-image: url(../../images/social-facebook.svg);
}

.social-instagram {
  background-image: url(../../images/social-instagram.svg);
}

.social-github {
  background-image: url(../../images/social-github.svg);
}

.social-linkedin {
  background-image: url(../../images/social-linkedin.svg);
}